* {
    font-family: 'Roboto', sans-serif;
}
.container1 {
    background-color: #1F2937;
    height: 38rem;
    width: auto;
}


.sub-container1 {
    display: flex;
     height: 2.8rem; 
     margin-left: 16rem;
     margin-right: 14rem;
     justify-content: space-between;
     align-items: center;
     padding-left: 3rem;
}
.sub-container1 li {
    display: inline-block;
    padding-left: 2rem;
    font-size: 18px;
    color: #E5E7EB;
}
.sub-container1 li {
    font-size: 18px;
    color: #E5E7EB;
}
.sub-container1 ul li  a {
    font-size: 18px;
    color: #E5E7EB;
}
.header1 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}


.sub-container1 a {
    text-decoration: none;
    list-style: none;
    
}
.sub-container2 {
    display: flex;
    height: 22rem;
    width: 86rem;
    margin-left: 18rem;
    margin-top: 3rem;
    margin-right: 14.5rem;
    box-sizing: border-box;
}

.c1{
display: flex;
flex-direction: column;
color: #F9FAF8;
height: auto;
box-sizing: border-box;
flex-basis: 50%;
flex-wrap: wrap;


}
.c2 {
    flex-basis: 50%;
    box-sizing: border-box;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    border: 2px solid black;
    
}
.sm {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
    flex-direction: column;
    width: 30rem;
    font-weight: 500;
    height: 11.8rem;
   
}

.header2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    font-weight:bolder;
    font-size: 48px;
    width:20rem;
    
    margin-bottom: 0px;
}
.btn1 {
    background-color: #3882F6;
    color: white;
    border-radius: 18%;
    height: 47px;
    width: 10rem;
    border: solid 5px #3882F6;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.5rem;
}
.container2 {
    background-color: white;
    width:auto;
    height: 80rem;
    
}

.sub-container3 {
 height: 8rem;
 width: auto;
border-bottom: #1F2937 double 5px;
 display: flex;
 font-size: 36px;
 color: #1F2937;
 font-weight: 800;
align-items: center;
justify-content: center;

}
.sub-container4 {
    height: 68rem;
    width: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
   

}
.inner-container1 {
    background-color: white;
    width: 95rem;
    height: 60rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     
     box-sizing: border-box;

}


.card {
    height: 39rem;
    width: 28rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    border-top-left-radius: 12%;
    border-top-right-radius:12% ;
    padding-right:2.5rem ;
    
    padding-left: 1rem;
    box-sizing: border-box;
    padding-bottom: 50rem;
}
    

.image {
    height: 38rem;
    border: 3px dotted #1F2937;
    border-radius: 12%;
    
    
    width: 26rem;
    box-sizing: border-box;
}

.text6 {
    font-size: 40px;
    font-weight: 800;
}
.container-box {
    padding: 2px 16px;
    height: 10rem;
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container3 {
    height: 10rem;
    width: auto;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 20rem 20rem;
    flex-direction: column;
}
.container4 {
    height: 33rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container5 {
    height: 14rem;
    width: 90rem;
    background-color: #3882F6;
    border-top-left-radius: 1.5%;
    border-top-right-radius: 1.5%;
    border-bottom-left-radius: 1.5%;
    border-bottom-right-radius:1.5% ;
    border: 2px solid #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.inner-container2 {
    flex-basis: 70%;
    color: white;
    font-size: 18px;
    padding-left: 5rem;
    font-weight: 800;
    margin-left: 5rem;
    
    padding-bottom:1rem ;
}
.inner-container3 {
    flex-basis: 30%;
   
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}
.btn2 {
    background-color: #3882F6;
    color: white;
    border-radius: 18%;
    height: 50px;
    width: 12rem;
    border: solid 3px white;
    font-size: 20px;
    font-weight: bold;
}

.header3 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 0px;
}
.text1 {
    margin-top: 0.2rem;
}
.text2 {
    padding-top: 5px;
    margin-top: 0px;
}
.img1 {
    height: 100%;
    width: 100%;
}
.img-sm {
    height: 37.7rem;
    width: 25.7rem;
    border-radius: 12% ;
}

.text3 {
    font-size: 30px;
    font-weight: 800;
}
.text5 {
    margin-top: 0px;
    padding-left: 40rem;
}
footer {
    background-color: #1F2937;
    width: auto;
    height: 10rem;
    display: flex;
    justify-content: center;
   align-items: center;
    flex-direction: column;
}
.link1 a {
    text-decoration: none;
    color: #E5E7EB;
    
}
.link1 {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 25px;
    
}